@import "tailwindcss";

*{
  font-family: "Fira Code", monospace;
}

.bold{
  font-weight: 900;
}

.light{
  font-weight: 300;
}

.skeleton {
  background-color: rgba(0, 0, 0, 0.1);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
